body{
    background-color: red;
}

img {
    margin-bottom: 300px;
    transition: all 0.5s;
    transform-origin: 20% 50%;
}

.rotate img {
    transform: rotate(-20deg);
}

.translate img {
    transform: translate(100px, 0px);
}

