body {
    background-color: red;
}

img {
    margin-bottom: 300px;
    transition: all 0.5s;
    transform-origin: 20% 50%;
}

.rotate img {
    transform: rotate(-20deg);
}

.translate img {
    transform: translate(100px, 0px);
}

.scale img:hover {
    transform: scale(2);
}

.animation img {
    animation-name: resize;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes resize {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
        transform: rotate(360deg);
    }
    65% {
        transform: rotate(-360deg);
    }
    75% {
        transform: scale(1.5);
    }
    85% {
        transform: scale(100px);
    }
    100% {
         visibility: hidden;
    }
}